.save{
		background: url(../imagenes/save.png) 0px no-repeat !important;
		width:72px!important; height:26px!important;		 		
	 }

.edit{
		background: url(../imagenes/edit.png)  0px no-repeat !important;
		width:72px!important; height:26px!important;
	 }

.delete{
		background: url(../imagenes/delete.png)  0px no-repeat !important;
		width:72px!important; height:26px!important;
	 }

.search{
		background: url(../imagenes/find.png) 0px no-repeat !important;
}

.reset{
		background: url(../imagenes/reset.png)  0px no-repeat !important;
		width:72px!important; height:26px!important;
	 }

.costos{
		background: url(../imagenes/costos.png);		 		
	 }

.add{
		background: url(../imagenes/add.png) 0px no-repeat !important;
		width:72px!important; height:26px!important;		 		
	 }

.commit{
		background: url(../imagenes/commit.png) 0px no-repeat !important;
		width:72px!important; height:44px!important;		 		
	 }

.refresh{
		background: url(../imagenes/refresh.png) 0px no-repeat !important;
		width:72px!important; height:44px!important;		 		
	 }

.phone{
		background: url(../imagenes/phone.png);
}

.contact{
		background: url(../imagenes/contact.png);
}

.reportes{
		background: url(../imagenes/reportes.png) 0px no-repeat !important;
		width:72px!important; height:44px!important;
}

.reportes2{
		background: url(../imagenes/reportes.png);
}

.calculo{
		background: url(../imagenes/calculo.png) 0px no-repeat !important;
		width:72px!important; height:44px!important;
}

.arrow_up{
		background: url(../imagenes/arrow_up.png) 0px no-repeat !important;
}

.arrow_down{
		background: url(../imagenes/arrow_down.png) 0px no-repeat !important;
}

.infoAct{
		background: url(../imagenes/infoact.png) 0px no-repeat !important;
}

.mail{
		background: url(../imagenes/mail.png) 0px no-repeat !important;
		width:72px!important; height:26px!important;
}

.favoritos{
		background: url(../imagenes/link48x48.png) 0px no-repeat !important;
		width:72px!important; height:50px!important;
}


























