{% extends 'baseWeb.html.twig' %}

{% block body %} 
<section class="main container">
		

		<!-- IMAGENES -->
		<div class="row">
			<div class="col-md-8 cols-xs-12 col-md-offset-2">

				<div class="row">
					<h2>Algunos de nuestros principales clientes son:</h2>		
				</div>

				<div class="row">
					<div class="col-md-6 col-xs-6 row-top">
						<img src="{{ asset('bundles/mbpweb/images/clientes/pauny2') }}" class="img-responsive">
					</div>
					<div class="col-md-6 col-xs-6 row-top" id="deutz">
						<img src="{{ asset('bundles/mbpweb/images/clientes/deutz1') }}" class="img-responsive">
					</div>	
				</div>
				<div style="margin-top=50px; background-color=red;"></div>
				<div class="row">
					<div class="col-md-6 col-xs-6 row-top">
						<img src="{{ asset('bundles/mbpweb/images/clientes/agco1') }}" class="img-responsive">
					</div>
					<div class="col-md-6 col-xs-6 row-top">
						<img src="{{ asset('bundles/mbpweb/images/clientes/sullair1') }}" class="img-responsive">
					</div>	
				</div>

			</div>			
		</div>
</section>
{% endblock %} 

