{% extends 'baseWeb.html.twig' %}

{% block body %}
	<div id="map" class="col-md-7"></div>

	<div class="col-md-5">
		<h3>Metalurgica BP SRL</h3>
		
		<h4>
			<button class="btn btn-success btn-lg">
	          <span class="glyphicon glyphicon-phone fa-2x"></span>
	        </button>
	        Telefono: (011) 4484-2416
		</h4>
        
      	<h4>
			<button class="btn btn-success btn-lg">
	          <span class="glyphicon glyphicon-map-marker fa-2x"></span>
	        </button>
	        Ombu 3865 San Justo Buenos Aires (1754)
		</h4>
			
		<h4>
			<button class="btn btn-success btn-lg">
	          <span class="glyphicon glyphicon-envelope fa-2x"></span>
	        </button>
	        <a href="mailto:info@metalurgicabp.com.ar">info@metalurgicabp.com.ar</a>
		</h4>

	</div>

	

{% endblock %}

{% block javascripts %}		
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqokRB5yuLk3DB3pzGbE2_teUXfz6RAnQ"></script>
	 <script src="{{ asset('bundles/mbpweb/js/maps.js') }}"></script>
{% endblock %}