{% extends 'baseWeb.html.twig' %}
	
{% block body %} 
	<div class="container" id="contact-form">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<form role="form">
					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input required="true" type="text" id="nombre" class="form-control" placeholder="Introduce tu nombre completo" />
					</div>
					<div class="form-group">
						<label for="apellido">Apellido</label>
						<input type="text" id="apellido" class="form-control" placeholder="Introduce tu apellido" />
					</div>
					<div class="form-group">
						<label for="telefono">Telefono</label>
						<input type="text" id="telefono" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="empresa">Empresa</label>
						<input type="text" id="empresa" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="asunto">Asunto</label>
						<input type="text" id="asunto" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="consulta">Consulta</label>
						<textarea rows="8" id="consulta" class="form-control"> </textarea>
					</div>
					<button type="submit" class="btn btn-default">Enviar</button>
				</form>	
			</div>			
		</div>
	</div>
{% endblock %} 