{% extends 'baseWeb.html.twig' %}

{% block body %}

<section class="main container">
	<div class="row">
		<section>
			<img class="" src="" alt="">
		</section>
		<section class="posts col-md-8 col-md-offset-2">
			<article class="post clearfix">
				<p class="text-justify">
					Metalúrgica BP S.R.L, es una empresa PYME dedicada a la producción de autopartes metalmecánicas. En la actualidad cuenta con las siguientes tres líneas de producción:

					Fabricación de piezas fundidas en aluminio.
					Fabricación de piezas mecanizadas, según diseño del cliente...
					Fabricación de radiadores de aluminio, aceite-aire, aceite-agua, aire - aire y agua - aire.

					Sus productos se destinan a empresas terminales y el mercado de reposición. En ambos mercados, los      productos son reconocidos por su calidad.

					Esto es el resultado de un camino que comenzó en 1994. La evolución de la empresa fue la siguiente:

					1994: Inicio de actividades produciendo piezas de fundición de bronce y tornería para terceros y el mercado de repuestos. Superficie ocupada 150m². 

					1995: Comienza a producir piezas para la firma Deutz Argentina.

					1996: La empresa compra su 1º torno CNC, e inicia la construcción de su nueva planta. Superficie ocupada de 600m².

					1999: Se inicia la producción de bujes bimetálicos. Comienza a trabajar para otras terminales.

					2000: Se incorpora a la empresa un nuevo socio. Se inicia la fabricación de radiadores de placas de aluminio, y la fundición de piezas de aluminio.

					2002: Se amplía la capacidad del sector de mecanizado con la compra de dos tornos CNC. 

					2003: Se amplía la capacidad del sector mecanizado con la compra del 1º centro de mecanizado CNC. Se amplia la superficie de la planta a 2000m².

					2005: Se compra el segundo centro de CNC y se amplía la superficie de la  planta a 2.800m².

					2008: Se compra máquina de medir por coordenadas

					2009: Certificación de la norma IRAM-ISO 9001-2008

					   2011: Se amplía las instalaciones de la fábrica con la edificación de una nueva nave en planta baja de 420 m2 destinada a futuro para mayor capacidad de fundición y el procesamiento de bronce en polvo para abastecer la fabricación de bujes bimetálicos.

					2012: Certificación de la norma IRAM-ISO 14001-2004 Gestión Ambiental y la recertificación de ISO 9001-2008 Gestión de la calidad incluyendo Diseño.

					2015: Se discontinua la fabricación de bujes bimetálicos, se comienza con la fabricación de radiadores de agua en aluminio con caños tubulados y la recertificación de las normas IRAM-ISO 9001 y 14001


					Esta evolución continua de la empresa, ha logrado que ésta cuente con un moderno equipamiento para responder a las necesidades de sus clientes con las partes de buena calidad, y asegurar la calidad por la mejora y optimización continua de sus procesos.

				</p>
				
			</article>	
		</section>	
	</div>
</section>



{% endblock %}