{% extends 'baseWeb.html.twig' %}

{% block body %}

	<section class="main container">
		<div class="row">
			<section class="posts col-md-12">
				<div class="col-md-8">
					<article class="post clearfix">						
						<h2 class="post-title">
							<a href="#"><u>Empresa</u></a>
						</h2>
						<p class="post-contenido text-justify">
							Metalúrgica BP S.R.L, es una empresa PYME dedicada a la producción de autopartes metalmecánicas. En la actualidad cuenta con las siguientes tres líneas de producción:

							<ul>
								<li>Fabricación de piezas fundidas en aluminio.</li>
								<li>Fabricación de piezas mecanizadas, según diseño del cliente.</li>
								<li>Fabricación de radiadores de aluminio, aceite-aire, aceite-agua, aire - aire y agua - aire.</li>
							</ul>
							
						</p>
					</article>

					<article class="post clearfix">						
						<h2 class="post-title">
							<a href="#"><u>Historia</u></a>
						</h2>
						<p> 
							La evolución de la empresa fue la siguiente:

							<ul>
								<li>1994: Inicio de actividades produciendo piezas de fundición de bronce y tornería para terceros y el mercado de repuestos. Superficie ocupada 150m². 		</li>
								<li>1995: Comienza a producir piezas para la firma Deutz Argentina.</li>
								<li>1996: La empresa compra su 1º torno CNC, e inicia la construcción de su nueva planta. Superficie ocupada de 600m².</li>
								<li>1999: Se inicia la producción de bujes bimetálicos. Comienza a trabajar para otras terminales.</li>
								<li>2000: Se incorpora a la empresa un nuevo socio. Se inicia la fabricación de radiadores de placas de aluminio, y la fundición de piezas de aluminio.</li>
								<li>2002: Se amplía la capacidad del sector de mecanizado con la compra de dos tornos CNC. </li>
								<li>2003: Se amplía la capacidad del sector mecanizado con la compra del 1º centro de mecanizado CNC. Se amplia la superficie de la planta a 2000m².</li>
								<li>2005: Se compra el segundo centro de CNC y se amplía la superficie de la  planta a 2.800m².</li>
								<li>2008: Se compra máquina de medir por coordenadas</li>
								<li>2009: Certificación de la norma IRAM-ISO 9001-2008</li>
								<li>2011: Se amplía las instalaciones de la fábrica con la edificación de una nueva nave en 	planta baja de 420 m2 destinada a futuro para mayor capacidad de fundición y el 	procesamiento de bronce en polvo para abastecer la fabricación de bujes bimetálicos.</li>
								<li>2012: Certificación de la norma IRAM-ISO 14001-2004 Gestión Ambiental y la recertificación de ISO 9001-2008 Gestión de la calidad incluyendo Diseño.</li>
								<li>2015: Se discontinua la fabricación de bujes bimetálicos, se comienza con la fabricación de radiadores de agua en aluminio con caños tubulados y la recertificación de las normas IRAM-ISO 9001 y 14001</li>

							</ul>

							<p>Esta evolución continua de la empresa, ha logrado que ésta cuente con un moderno equipamiento para responder a las necesidades de sus clientes con las partes de buena calidad, y asegurar la calidad por la mejora y optimización continua de sus procesos.
							</p>

							
							
						</p>
					</article>
				</div>
				<div class="col-md-4">
					
					<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/img1.jpg') }}" alt="">
					
				</div>
				<div class="col-md-4 row-top">
					
					<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/mitutoyo.jpg') }}" alt="">
					
				</div>
				<div class="col-md-4 row-top">
					
					<img class="img-responsive" src="{{ asset('bundles/mbpweb/images/historia2.jpg') }}" alt="">
					
				</div>
			</section>
		</div>
	</section>
{% endblock %}