{% extends 'baseWeb.html.twig' %}

{% block head %}	
	{{parent()}}
	<title>Misión | Metalúrgica BP</title>
	<meta name=”robots” content=”noindex, follow”>
{% endblock %}

{% block body %}

<div class="row">
	<div class="banner col-md-8 col-md-offset-2">
		<img id="mision" class="img-responsive center-block" src="{{ asset('bundles/mbpweb/images/Radiadores-45.jpg') }}" alt="radiador">		
	</div>

	<div class="page-title col-md-12">
		<div class="container-fluid">
			<h1><span><a>Mision y vision</a></span></h1>
		</div>		
	</div>
	
	<div class="col-md-10 col-md-offset-1">
		<h2 class="post-title"><a>Mision</a></h2>
		<p>
			Fabricacion y comercializacion de intercambiadores para toda la industria teniendo en cuenta la calidad en nuestros procesos y brindando un servicio de respuesta agil y flexible a la demanda de nuestros clientes.
		</p>
		<h2 class="post-title"><a>Visión</a></h2>
		<p>
			A largo plazo posicionarnos como el principal fabricante a nivel nacional de intercambiadores de aceite, aire y agua, mejorando continuamente nuestros estandares de calidad y promoviendo la internacionalizacion de nuestros productos.
		</p>
	</div>

</div>

{% endblock %}