{% extends 'baseWeb.html.twig' %}

{% block body %}

<div class="row">
	<div class="banner col-md-12">
		<img id="mision" class="img_responsive center-block" src="{{ asset('bundles/mbpweb/images/mision.jpg') }}">
		<div class="page-title">
			<div class="container-fluid">
				<h1><span>Mision y vision</span></h1>
			</div>
			
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<h2>Mision</h2>
		<p>
			Fabricacion y comercializacion de intercambiadores para toda la industria teniendo en cuenta la calidad en nuestros procesos y brindando un servicio de respuesta agil y flexible a la demanda de nuestros clientes.
		</p>
		<h2>Visión</h2>
		<p>
			A largo plazo posicionarnos como el principal fabricante a nivel nacional de intercambiadores de aceite, aire y agua, mejorando continuamente nuestros estandares de calidad y promoviendo la internacionalizacion de nuestros productos.
		</p>
	</div>

</div>

{% endblock %}