{% extends 'baseWeb.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form method="POST" action="{{ path("ingresarUsuario") }}">

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" placeholder="Ingrese su email" required>
				</div>

				<div class="form-group">
					<label for="nombre">Nombre y apellido</label>
					<input type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre y apellido" required>
				</div>
					
				<div class="form-group">
					<label for="empresa">Empresa</label>
					<input type="text" name="empresa" class="form-control" placeholder="Ingrese el nombre de su empresa">
				</div>
				
				<button type="submit">Enviar</button>
			</form>
		</div>
	</div>
{% endblock %}
