{% extends 'baseWeb.html.twig' %}

{% block body %} 
<section class="main container" id="contenedorProductos">
    <div class="row">

      <form class="col-md-12">

      	<div class="form-group">
      		<label for="tipo">Tipo</label>
      		<select id="tipo" class="form-control">
      		<option selected="selected">--Seleccione de la lista--</option>          
      		{% for item in tipos %}
      			<option value="{{ item.id }}">{{item.tipo}}</option>    
      		{% endfor %}  		
      		</select>
      	</div>

      	<div class="form-group">
      		<label for="aplicacion">Aplicacion</label>
      		<select id="aplicacion" class="form-control">
      			<option selected="selected">--Seleccione de la lista--</option>  
      		</select>
      	</div>
      		
      	<div class="form-group">
      		<label for="marca">Marca</label>
      		<select id="marca" class="form-control">
      			<option selected="selected">--Seleccione de la lista--</option>  
      		</select>
      	</div>      		
      		
      </form>

      <div class="col-md-12">
        <table class="table table-hover" id="tablaProductos">
          <thead>
            <th class="col-md-2">Codigo</th>
            <th class="col-md-5">Descripcion</th>
            <th class="col-md-2">OEM</th>
            <th class="col-md-2">Marca</th>
            <th class="col-md-1">Imagen</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>

    
  
    
</section>

<!-- Creates the bootstrap modal where the image will appear -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-admin" id="modalImg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Vista previa</h4>
        </div>
        <div class="modal-body">
          <img src="" id="imagepreview" class="img-responsive">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/mbpweb/js/productosComerciales.js') }}"></script>


{% endblock %}	