{% extends "ModeloBundle:Default:layout.html.twig" %}
{% block contenido %}
{{ mensaje }}
{% endblock %}
{% block footer %}
<footer id="footer">
    <a href="{{ path('login') }}">Login</a>
</footer>
{% endblock %}