#IGNORAMOS LA CARPETA COMPLETA
/web/bundles
/web/newFront
/bp
/.vscode

#IGNORAMOS EL KERNEL PARA EVITAR PROBLEMAS DE SINCROCNIZACION DE CIERTAS LIBRERIAS DEL HOSTING
/app/AppKernel.php

/app/bootstrap.php.cache

/app/cache/*

/app/config/parameters.yml

/app/logs/*

!app/cache/.gitkeep
!app/logs/.gitkeep
 
/build/

/vendor/

/bin/
