#IGNORAMOS LA CARPETA COMPLETA
/web/bundles/*

#EXCLUIMOS FRONTEND
!/web/bundles/frontend/

#IGNORAMOS LA CARPETA COMPLETA
/web/bundles/frontend/*
#EXCLUIMOS FRONTEND
!/web/bundles/frontend/js/

#IGNORAMOS JS
/web/bundles/frontend/js/*
#EXCLUIMOS METAPP
!/web/bundles/frontend/js/MetApp/

/app/bootstrap.php.cache

/app/cache/*

/app/config/parameters.yml

/app/logs/*

!app/cache/.gitkeep
!app/logs/.gitkeep

/build/

/vendor/

/bin/

#EXCLUIMOS TODOS LOS ARCHIVOS PDF
*.pdf