{% extends 'baseWeb.html.twig' %}

{% block head %}
	{{ parent() }}
	<title>Inicio | Metalurgica BP SRL</title>	
{% endblock %}

{% block body %}

<div class="row">
    <div class="wrapper" id="wrapper">
        <div class="offcanvas-pusher">
            <div class="content-wrapper">
              <div class="container">
                  <div class="row">
                      <div class="inner-content">
                          <div class="row">
                              <div class="col-md-3">
                                  <div class="left-sidebar">
                                      <h4>Services</h4>
                                      <ul>
                                          <li><a href="tanks.html">Tanks</a></li>
                                          <li><a href="stacks.html">Stacks</a></li>
                                          <li><a href="duct.html">Ducting</a></li>
                                          <li><a href="pipe.html">Pipe</a></li>
                                          <li><a href="angle.html">Steel Angels</a></li>
                                          <li><a href="beam.html">Steel Beams</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-md-9">
                                  <div class="single-description">
                                      <h1>Ducting</h1>
                                      <img src="{{ asset('bundles/mbpweb/images/page/duct.jpg') }}" alt="">
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme areas. Monotonectally empower innovative users without state of the art sources. Energistically fabricate fully tested markets via covalent functionalities. Assertively utilize 2.0 leadership and interoperable relationships.</p>

                                      <p>
                                      Quickly visualize long-term high-impact supply chains through vertical expertise. Dynamically impact low-risk high-yield niche markets for clicks-and-mortar growth strategies. Dynamically impact leveraged innovation with granular networks. Seamlessly morph an expanded array of e-tailers after innovative bandwidth. Energistically formulate emerging information after virtual internal or "organic" sources.

                                      Credibly conceptualize maintainable.
                                      </p>
                                      <h2>Hi-Performance</h2>
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme 
                                      </p>
                                      <h2>Pure Steel</h2>
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme 
                                      </p>
                                      <h2>Antifungal Protected</h2>
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme 
                                      </p>
                                      <h2>Sun Heat Protected</h2>
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme 
                                      </p>
                                      <h2>Disaster Protected</h2>
                                      <p>Synergistically syndicate fully tested experiences without web-enabled portals. Appropriately transform economically sound collaboration and idea-sharing via go forward strategic theme 
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--inner content -->
                  </div>
              </div>
              <!-- .container-->
          </div>
          <!--content-wrapper-->
      </div>
      <!-- offcanvas-pusher -->		
  </div>
</div>

{% endblock %}