#nav_header {
  background:#184571;
  height: 25px;
}

#nav_header a{
  color: white;
  font-size: 0.8em;
}

.cnt_sub {
  background:#184571;
}

.index_sub {
  text-align: center;
  color: white;
}


.categorias {
  background:#184571;
  text-align: center;
  padding-top: 20px;
}

.categorias  h3{
  color:#fff;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #0f263d;
}

.categorias  p{
  color:#fff;
  font-size: 1em;
  text-shadow: 1px 1px 1px #0f263d;
}

@media screen and (max-width: 700px){
     .carousel-caption p {
        font-size: 13px;
    }
    .carousel-caption {
    background: rgba(0, 0, 0, 0.55);
    }
}

.carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#contact-form {
	margin-top: 10px;
}

.navbar {
	padding-bottom: 0px;
  font-size: 18px;
  position: relative;
}

/* PARA QUE EL TEXTO DEL NAVBAR QUEDE CENTRADO VERTICALMENTE */
.navbar-nav li a{
  line-height: 50px;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

/* ESTILOS PARA UBICAR EL FOOTER AL FONDO DE LA PAGINA */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #696969;
  background-color: #ffffff;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* /ESTILOS PARA UBICAR EL FOOTER AL FONDO DE LA PAGINA */

.row-top{
  margin-top: 60px;
  margin-bottom: 60px
}



#map{
  height: 600px;
}

.inline{
  display: inline-block;
}

.inline{
  display: -webkit-inline-box;
}

#formBusqueda{
  margin-top: 20px;
}

#logo{
  margin-top: 5px;
}

#modalImg{
  display: inline-block;
  
}

.modal-admin {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

