{% extends 'dashboardBase.html.twig' %}
{% block content %}
<div class="content">
<div class="row">
    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
        <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
        <form>
            <div class="row">
            <div class="col-md-5 pr-md-1">
                <div class="form-group">
                {{ form_label(form.codigo) }}
                {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc.">-->
                </div>
            </div>
            <div class="col-md-3 px-md-1">
                <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" value="michael23">
                </div>
            </div>
            
        </form>
        </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
    </div>
    
</div>
</div>
{% endblock %}
