.readOnly {
	background-color: blue !important;
	color: red !important;
}

.myDisabledClass input{
	background-color: #C7D1D9;
    opacity: .7;
    -moz-opacity: .3;
    filter: alpha(opacity=30);
    border: 1px solid #979CA5;
}

.panelBtn {	
	border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.window 
.x-window-body{
	background-color : #F2F2F2;
}
.x-panel-body{
	background-color : #F2F2F2;
}
.x-container{
	background-color : #F2F2F2;
}
.x-window-footer {
	background-color : #F2F2F2;
}

.x-window-body {
	background-color : #F2F2F2;
}

.x-grid-row .custom-column { 
    background-color: #bcfcd8; 
    color: black; 
    font-weight: bold; 
}

.x-btn-button:hover { 
  background: #FF9900;
}

.x-btn-button:focus { 
  background: #FF9900;
}

