.nuevaNotificacion {
    background: red !important;
    color: red !important;
}

.sinNotificaciones {
    background: grey !important;
    color: grey !important;
}

.readOnly {
	background-color: blue !important;
	color: red !important;
}

.myDisabledClass input textarea{
	background-color: #C7D1D9;
    opacity: .7;
    -moz-opacity: .3;
    filter: alpha(opacity=30);
    border: 1px solid #979CA5;
}

.x-form-item input:read-only {
    background-color: #C7D1D9;
    opacity: .7;
    -moz-opacity: .3;
    filter: alpha(opacity=30);
    border: 1px solid #979CA5;
}

.x-form-item textarea:read-only {
    background-color: #C7D1D9;
    opacity: .7;
    -moz-opacity: .3;
    filter: alpha(opacity=30);
    border: 1px solid #979CA5;
}


.panelBtn {	
	border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 20px 5px;
    background-color: transparent;
    border: 0px solid white;
}

/*
CONFIGURACION VIEJA, SI ESTA TODO OK SE DEBERIA BORRAR

.window 
.x-window-body{
	background-color : #F2F2F2;
}
.x-panel-body{
	background-color : #F2F2F2;
}
.x-container{
	background-color : #F2F2F2;
}
.x-window-footer {
	background-color : #F2F2F2;
}

.x-window-body {
	background-color : #F2F2F2;
}

.x-panel-body-default-framed {
	background-color: #F2F2F2;
}

.x-grid-row .custom-column { 
    background-color: #bcfcd8; 
    color: black; 
    font-weight: bold; 
}

.x-grid-row .custom-column-red { 
    background-color: #d65f4a; 
    color: black; 
    font-weight: bold; 
}
*/

/* RESALTA CON COLOR LO BOTONES ANTE UN HOVER */
.x-btn-button:hover { 
  background: #FF9900;
}

.x-btn-button:focus { 
  background: #FF9900;
}

/*ESTILO PARA GRILLAS*/
.extra-alt .x-grid-row .x-grid-cell { 
    background-color: #fff; 
    color: #000; 
} 
 
.extra-alt .x-grid-row-alt .x-grid-cell { 
    background-color: #000; 
    color: #fff; 
}
